@using VocabCards.DataModels.ViewModels;
@{
    ViewData["Title"] = "Home Page";
}

@model WordViewModel

<div class="text-center">
    <h1 class="display-4">Word of the Day</h1>
    <p>Here is the word of the day.</p>
</div>
<div class="text-center">
	<h1>Hello, the word is @Model.Word.</h1>
	<p><b>Origin:</b> early 19th century: variant of earlier hollo ; related to holla.</p>
	<p><b>Definition: </b>used as a greeting or to begin a phone conversation.</p>
</div>
